body {
  text-align: center;
  background-color: #d9d9d9;
  max-width: 1000px;
  margin: auto;
  text-transform: capitalize;
  /* position: relative; */
}

.main {
  opacity: 1;
}

h1 {
  padding: 2rem;
}

.btn {
  background-color: #778699;
  border: 0;
  cursor: pointer;
  /* padding: 0.5rem; */
}

.newGame {
  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  position: relative;
  top: 20px;
  z-index: 50;
  opacity: 1;
}
.inputNumber {
  margin: 1rem auto;
}
#number,
.clickToGuess {
  height: 40px;
  margin: 0;
  display: inline-block;
}

.clickToGuess {
  height: 45px;
  /* border-end-end-radius: 10px; */
  border-radius: 0 10px 10px 0;
  /* padding: 0; */
}

.rangeNumber {
  width: 350px;
  height: 20px;
  margin: auto;
}

#range {
  width: 350px;
  height: 20px;
  background-color: #eee;
  border: 1px #017f04 solid;
  margin: auto;
  border-radius: 5px;
  clear: both;
  border: 2px solid green;
}

.progress-bar {
  width: 350px;
  height: 20px;
  background-color: #eee;
  border: 1px #017f04 solid;
  margin: auto;
  border-radius: 5px;
  clear: both;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #017f04;
  border-radius: 5px;
}

.left,
.right {
  width: 45%;
  /* border: solid; */
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.left {
  float: left;
}

.yourGuess {
  font-size: medium;
}

.right {
  float: right;
}

.highScore,
.lifeLine {
  font-size: 1rem;
}

.highScore .highScoreNumber,
.lifeLine .lifeLineNumber {
  font-weight: bolder;
  font-size: xx-large;
}

.gameOver {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #77869989;
}
